body {
    background-image: url('../view/DashboardPhoto.webp');
    background-size: cover; 
    font-family: Arial, sans-serif;
  }
  
  .header {
    display: flex;
    justify-content: space-between; /* Align items horizontally */
    align-items: center; /* Align items vertically */
    padding: 10px 20px;
  }
  
  h1 {
    margin: 0; /* Remove default top margin from heading */
  }

  /* CSS for home button */
.home-button {
    font-size: 20px;
    width: 75px; /* Adjust width as needed */
    height: 35px;
    
    border-radius: 10px;
    border: 2px solid #59D5E0;
    background-color: transparent; /* Change background color */
    color: white; /* Change text color */
  }
  
  /* CSS for logout button */
  .logout-button {
    font-size: 20px;
    width: 84px; /* Adjust width as needed */
    height: 35px;
  
    border-radius: 10px;
    border: 2px solid #59D5E0;
    background-color: transparent; /* Change background color */
    color: white; /* Change text color */
  }
  
  /* Hover effect for both buttons */
  .home-button:hover{
    background-color: #4169E1; /* Change background color on hover */
  }
  

  .logout-button:hover {
    background-color: #4169E1; /* Change background color on hover */
  }
  
  fieldset {
    width: 25%;
    height: 340px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    margin: 30px ; /* Adjust margins */
  }
  
  td {
    padding: 15px;
  }
  
  button {
    font-size: 18px;
    width: 180px;
    height: 50px;
    background-color: transparent;
    border-radius: 10px;
    color:white;
    border: 2px solid #59D5E0;
  }
  
  button:hover {
    background-color: #87CEFA;
  }
  