/* Common styles for both pages */
body {
    background-image: url('../view/LoginPagePhoto.png'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-size: cover; /* Cover the entire viewport */
    font-family: Arial, sans-serif; /* Specify the font family */
}

fieldset {
    position: absolute; /* Position the fieldset absolutely */
    top: 40px; /* Add space from the top */
    left: 37%; /* Center horizontally */
    width: 400px; /* Set width */
    padding: 20px; /* Add padding inside */
    margin: 50px auto 0; /* Add margin to the top and center horizontally */
    border: 2px solid #59D5E0; /* Add border with light blue color */
    border-radius: 10px; /* Rounded corners */
    background-color: #fff; /* White background */   
    
    }

.profile-title {
    text-align: center;
}

.custom-input {
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    background-color: #59D5E0;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.submit-button:hover {
    background-color: #4fa9b8;
}
