/* Body styling */
body {
    background-image: url('../view/ProfilePagePhoto.png'); 
    background-size: cover; /* Cover the entire viewport */
    font-family: Arial, sans-serif; /* Specify the font family */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

h1 {
    margin: 0;
}

button {
    font-size: 18px;
    width: 100%;
    height: 50px;
    margin-bottom: 10px; /* Add space between buttons */
    border-radius: 10px;
    border: 3px solid #59D5E0;
    background-color: transparent;
    color: #fff;
   
}

button:hover {
    background-color: #87CEFA;
}


/* Container styling */
.container {
    width: 70%; /* Set width */
    margin: 15px auto; /* Center the container */
}

/* Fieldset styling */
fieldset {
    background-color: #59D5E0;
    width: 40%; /* Set width */
    margin: 10px auto; /* Center the fieldset */
    padding: 30px; /* Add padding */
    border-radius: 10px; /* Rounded corners */
    border: 2px solid white; /* Add border with light blue color */
}



/* Table styling */
table {
    width: 80%; /* Set width to fill the container */
    border-collapse: collapse; /* Collapse table borders */
}

/* Table cell (td) styling */
td {
    padding: 10px 20px 10px 0;
    margin-left:20px;
}


/* Image styling */
img {
    display: block; /* Center align the image */
    margin: 0 auto; /* Center the image horizontally */
    width: 150px; /* Set width */
    height: 150px; /* Set height */
    border-radius: 50%; /* Make the image circular */
    border: 5px solid #fff; /* Add a white border around the image */
}

/* Paragraph (p) styling */
p {
    text-align: center; /* Center align paragraphs */
    margin-top: 10px; /* Add some top margin */
    margin-right:30px;
    
}
/* Strong (strong) text styling */
p strong {
    color: white; /* Change the color of the strong text */
}
