body {
    background-image: url('../view/image1.jpg');
    background-size: cover; 
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

h1 {
    margin: 0;
}

.feature-image {
    width: 150px;
    height: 150px;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 50px; /* Adjust margin as needed */
}

fieldset {
    width: 350px; /* Adjust width as needed */
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 20px;
}


button {
    font-size: 18px;
    width: 100%;
    height: 50px;
    margin-bottom: 10px; /* Add space between buttons */
    border-radius: 10px;
    border: 2px solid #59D5E0;
    background-color: transparent;
    color: #fff;
   
}

button:hover {
    background-color: #87CEFA;
}
